<!DOCTYPE html>
<!-- @ifdef WEB -->
<html lang="en" data-ng-app="newsreader">
<!-- @endif-->
<!-- @ifdef CSP -->
<html lang="en" data-ng-app="newsreader" data-ng-csp="">
<!-- @endif -->
    <head>
        <meta charset="UTF-8">
        <title>News Reader</title>
        <meta name="author" content="<!-- @echo AUTHOR -->">
        <meta name="description" content="<!-- @echo DESCRIPTION -->">
        <meta name="keywords" content="<!-- @echo KEYWORDS -->">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <link rel="stylesheet" href="css/normalize-css/normalize.css" type="text/css">

        <!--<link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">-->
        <!--<link rel='stylesheet' href='//fonts.googleapis.com/css?family=font1|font2|etc' type='text/css'>-->

        <link rel="stylesheet" href="css/bootstrap/dist/css/bootstrap.min.css" type="text/css">
        <!-- @ifdef CSP -->
        <link rel="stylesheet" href="css/angular-csp.css" type="text/css">
        <!-- @endif -->
        <link rel="stylesheet" href="css/tweak.css" type="text/css">
    </head>
    <body>
        <div data-ng-controller="MenuCtrl">

            <div data-ng-include="'partials/menu.tpl'"></div>

            <div id="all" data-ng-class="{hidee:!toShow.menu, slide:toShow.menu}">
                <nav data-ng-if="toShow.header" class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button class="btn navbar-btn btn-default" data-ng-click="toShow.menu = !toShow.menu"><i
                                    class="glyphicon glyphicon-align-justify"></i></button>
                            <span style="padding-left: 10px;" bindonce data-ng-bind="title"></span>
                        </div>
                    </div>
                </nav>
                <div class="container-fluid">
                    <div data-ng-view></div>
                </div>
            </div>
        </div>
        <!-- @ifdef MINJS -->
        <script type="text/javascript" src="js/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="js/lib/angular/angular.min.js"></script>
        <script type="text/javascript" src="js/lib/angular-bindonce/bindonce.min.js"></script>
        <script type="text/javascript" src="js/lib/angular-sanitize/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="js/lib/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/lib/angular-local-storage/angular-local-storage.min.js"></script>
        <script type="text/javascript" src="js/modules.min.js"></script>
        <script type="text/javascript" src="js/app.min.js"></script>
        <!-- @endif -->

        <!-- @ifdef CORDOVA -->
        <script type="text/javascript" src="cordova.js"></script>
        <!-- @endif -->
    </body>
</html>