<!DOCTYPE html>
<html lang="en" data-ng-app="newsreader" >
                                        <!--data-ng-csp=""-->
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <meta name="author" content="Ilija Lazarevic">
    <meta name="description" content="RSS reader">
    <meta name="keywords" content="RSS, atom, feed, reader">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!--<link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">-->
    <!--<link rel='stylesheet' href='//fonts.googleapis.com/css?family=font1|font2|etc' type='text/css'>-->

    <link rel="stylesheet" href="lib/normalize-css/normalize.css" type="text/css">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" type="text/css">

    <link rel="stylesheet" href="css/tweak.css" type="text/css">
</head>
<body>

<div data-ng-controller="MenuCtrl">

    <div data-ng-include="'app/menu/menu.html'"></div>

    <div id="all" data-ng-class="{hidee:!toShow.menu, slide:toShow.menu}">

        <nav data-ng-if="toShow.header" class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button class="btn navbar-btn btn-default" data-ng-click="toShow.menu = !toShow.menu"><i class="glyphicon glyphicon-align-justify"></i></button>
                    <span style="padding-left: 10px;" bindonce data-ng-bind="title"></span>
                </div>
            </div>
        </nav>

        <div  class="container-fluid">
            <div data-ng-view></div>
        </div>
    </div>

</div>

<script type="text/javascript" src="lib/jquery/dist/jquery.js"></script>
<!--<script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>-->

<script type="text/javascript" src="lib/angular/angular.js"></script>
<!--<script type="text/javascript" src="lib/angular/angular.min.js"></script>-->

<script type="text/javascript" src="lib/angular-bindonce/bindonce.js"></script>
<!--<script type="text/javascript" src="lib/angular-bindonce/bindonce.min.js"></script>-->

<!--<script type="text/javascript" src="lib/quick-ngrepeat/quick-ng-repeat.js"></script>-->

<script type="text/javascript" src="lib/angular-sanitize/angular-sanitize.js"></script>
<!--<script type="text/javascript" src="lib/angular-sanitize/angular-sanitize.min.js"></script>-->

<script type="text/javascript" src="lib/angular-route/angular-route.js"></script>
<!--<script type="text/javascript" src="lib/angular-route/angular-route.min.js"></script>-->

<script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.js"></script>
<!--<script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.min.js"></script>-->


<script type="text/javascript" src="app/modules/owncloud.js"></script>
<script type="text/javascript" src="lib/angular-local-storage/angular-local-storage.js"></script>

<!--<script type="text/javascript" src="app/app.js"></script>-->
<!---->
<!--<script type="text/javascript" src="app/menu/MenuController.js"></script>-->
<!--<script type="text/javascript" src="app/login/LoginController.js"></script>-->
<!--<script type="text/javascript" src="app/articles/ArticlesController.js"></script>-->
<!--<script type="text/javascript" src="app/feeds/FeedsController.js"></script>-->
<!--<script type="text/javascript" src="app/folders/FoldersController.js"></script>-->
<!---->
<!--<script type="text/javascript" src="app/directives/nwrOpenLink.js"></script>-->
<!--<script type="text/javascript" src="app/directives/dock/nwrFloatPalette.js"></script>-->
<!--<script type="text/javascript" src="app/directives/nwrDocScrollTrig.js"></script>-->

<script type="text/javascript" src="build/app.js"></script>

</body>
</html>