<div class="float-button" ng-class="{show:toShow.button}">

    <div class="btn-group-vertical">
        <a id="up-button" class="btn btn-default btn-lg" data-ng-click="scrollToTop()"><i class="glyphicon glyphicon-arrow-up"></i></a>
        <a id="menu-button" class="btn btn-default btn-lg" data-ng-click="toShow.menu = !toShow.menu"><i class="glyphicon glyphicon-align-justify"></i></a>

        <a id="open-all-button" class="btn btn-default btn-lg" data-ng-click="selectAll()"><i class="glyphicon glyphicon glyphicon-plus"></i></a>
        <a id="close-all-button" class="btn btn-default btn-lg" data-ng-click="unselectAll()"><i class="glyphicon glyphicon glyphicon-minus"></i></a>
    </div>
</div>