<script type="text/ng-template" id="partials/articles.tpl">
<ul bindonce class="list-group">
    <li href="#" class="list-group-item media" data-ng-repeat="article in articles"
        data-ng-class="{unread: article.unread, selected: article.selected}">

        <a class="pull-left" data-ng-click="article.selected = !article.selected">
            <img data-ng-if="!article.starred" class="media-object" src="images/document.png"
                 alt="article">
            <img data-ng-if="article.starred" class="media-object" src="images/star.png" alt="article">
        </a>

        <div class="media-body" data-ng-click="article.selected = !article.selected">
            <h4 class="media-heading" bo-bind="article.title"></h4>

            <p>
                <span class="date" bo-bind="article.pubDate * 1000 | date:'MM/dd/yyyy \'at\' h:mma'"></span><span
                    data-ng-if="article.author"> , <span class="author" data-ng-bind="article.author"></span></span>
            </p>
        </div>

        <p class="articlebody" data-ng-hide="!article.selected" bo-html="article.body"></p>

        <div class="btn-group" data-ng-if="article.selected">
            <div class="btn-group">
                <button class="btn btn-default btn-lg" nwr-open-link data-ng-click="openUrl(article.url)">
                    <i class="glyphicon glyphicon-file"></i>
                </button>

                <button class="btn btn-default btn-lg" data-ng-click="toggleRead(article.id)">
                    <i data-ng-if="article.unread" class="glyphicon glyphicon-eye-open"></i>
                    <i data-ng-if="!article.unread" class="glyphicon glyphicon-eye-close"></i>
                </button>

                <button class="btn btn-default btn-lg"
                        data-ng-click="toggleStarred(article.id, article.feedId, article.guidHash)">
                    <i data-ng-if="!article.starred" class="glyphicon glyphicon-star"></i>
                    <i data-ng-if="article.starred" class="glyphicon glyphicon-star-empty"></i>
                </button>
            </div>
        </div>

    </li>
</ul>

<div class="btn-group btn-group-justified">
    <div class="btn-group">
        <button data-ng-class="{disabled: noMoreArticles}" class="btn btn-primary" data-ng-click="getArticles()">Load
            more
            articles
        </button>
    </div>
</div>

<div nwr-float-palette></div>

<br/>
</script>